<!doctype html>
<link rel="stylesheet" href="css/w3.css">
<title>NatGeo Sentinel Image Trainer</title>
<center></center>
<h1><img src="images/natcap.png"/> & NatGeo Sentinel Dam Image Trainer</h1>
<hr>
<table class='grid-table'>
    {%- for tuple in image_list %}
    <tr>
        <td>{{ tuple[0] }}</td>
        {%- for img_tuple in tuple[1] %}
            <td><p>Band ID: <strong>{{ img_tuple[0] }}</strong><br></p>
                <input type="radio" name="{{ tuple[0] }}damradio" value="isadam">This is a dam<br>
                <input type="radio" name="{{ tuple[0] }}damradio" value="notadam">This NOT is a dam<br>
                <input type="radio" name="{{ tuple[0] }}damradio" value="unsure">Unsure<br></p>
                <img src='{{ img_tuple[1] }}'/>
        </td>
        {%- endfor %}
    </tr>
    {%- endfor %}
</table>

