<!doctype html>
<link rel="stylesheet" href="css/w3.css">
<title>NatGeo Sentinel Image Trainer</title>
<h1>NatGeo Sentinel Image Trainer</h1>
<p>Help us train.</p>
<table class='grid-table'>
    {%- for tuple in image_list %}
    <tr>
        <td>{{ tuple[0] }}</td>
        {%- for img_tuple in tuple[1] %}
            <td><p>
                Band ID: <strong>{{ img_tuple[0] }}</strong><br>
                <input type="radio" name="damradio" value="isadam">This is a dam<br></p>
                <input type="radio" name="damradio" value="notadam">This NOT is a dam<br></p>
                <input type="radio" name="damradio" value="unsure">Unsure<br></p>
                <img src='{{ img_tuple[1] }}'/>
        </td>
        {%- endfor %}
    </tr>
    {%- endfor %}
</table>

