<!doctype html>
<html>
<head>
<link rel="stylesheet" href="css/w3.css">
<style type="text/css">
    #infoBox {
        margin: auto;
        margin-bottom: 10px;
        width: 500px;
        font-size: small;
    }
    table {
        font-size: small;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<title>NatGeo Sentinel Image Trainer</title>
</head>
<body>
<h1><img src="images/natcap.png"/> & NatGeo Sentinel Dam Location Summary</h1>
<hr>
<h2>Summary Stats</h2>
<div id="infoBox">
    <p><b>{{ total_count }}</b> total dam records.</p>
    <p><b>{{ total_count-unvalidated_count }}</b> dams validated,
       <b>{{ '%.2f%%' % (100.0*(total_count-unvalidated_count)/total_count) }}</b> complete.</p>

<h2>Databases Used</h2>
<dl>
    {% for database_id, database_info in database_dict.items() %}
        <dt>{{ database_id }}</dt>
        <dd><a href="{{ database_info.database_url }}">{{ database_info.database_url }}</a></dd>
    {% endfor %}
</dl>
<h2><a href="/">Back to validation</a></h2>
</div>

</body>
</html>
