<!doctype html>
<html>
<head>
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<style type="text/css">
    #mapid {
        margin: auto;
        width: 500px;
        height: 500px; }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<title>NatGeo Dam Validator</title>
</head>
<body>
<center></center>
<h1><img src="images/natcap.png"/> & NatGeo Dam Location Validation</h1>
<hr>
<table class='grid-table'>
    <p>{{ point_data }}</p>
     <div id="mapid"></div>
</table>

<script type="text/javascript">
    var map = L.map('mapid').setView(
        [{{ point_data.y }}, {{ point_data.x }}], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 25,
            id: 'mapbox.satellite',
            accessToken: 'pk.eyJ1IjoicmljaHBzaGFycCIsImEiOiJjanJzdHlib2oyZWRsNDNuM3Rndmh4YnRyIn0.Rs9F-GWbQzllbJAYSJVY1g'
        }).addTo(map);
    var marker = L.marker(
        [{{ point_data.y }}, {{ point_data.x }}],
        {
            title: 'dam name goes here',
            alt: 'dam name goes here',
            draggable: true,
        }).addTo(map);

     marker.on('dragend', function(event){
        var marker = event.target;
        var position = marker.getLatLng();
        marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
        map.panTo(new L.LatLng(position.lat, position.lng))
        $.ajax({
            url: '/markermove',
            type: 'POST',
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            data: JSON.stringify(position)
        });
      });

    map.on('click', onMapClick);
    function onMapClick(e) {
        var geojsonFeature = {
            "type": "Feature",
            "properties": {},
            "geometry": {
                    "type": "Point",
                    "coordinates": [e.latlng.lat, e.latlng.lng]
            }
        }
        var marker;
        L.geoJson(geojsonFeature, {
            pointToLayer: function(feature, latlng){
                marker = L.marker(e.latlng, {
                    title: "Resource Location",
                    alt: "Resource Location",
                    riseOnHover: true,
                    draggable: true,
                }).bindPopup("<input type='button' value='Delete this marker' class='marker-delete-button'/>");
                marker.on("popupopen", onPopupOpen);
                return marker;
            }
        }).addTo(map);
    }

    function onPopupOpen() {
        var tempMarker = this;
        // To remove marker on click of delete button in the popup of marker
        $(".marker-delete-button:visible").click(function () {
            map.removeLayer(tempMarker);
        });
    }
</script>

</body>
</html>