<!doctype html>
<html>
<head>
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<script src="js/leaflet-svg-shape-markers.min.js"></script>

<style type="text/css">
    #infoBox {
        margin: auto;
        margin-bottom: 10px;
        width: 500px;
        font-size: small;
    }
    #mapid {
        margin: auto;
        width: 500px;
        height: 500px; }
</style>

<title>NatGeo Dam Validator</title>
</head>
<body>
<center></center>
<h1><img src="images/natcap.png"/> & NatGeo Dam Location Validation</h1>
<hr>
<table class='grid-table'>
    <div id="infoBox">
        <h2>Point ID: {{ base_point_id }}</h2>
        <p><strong>Original Point Location</strong>
            LatLng({{ '%.6f' % base_point_geom.y }} {{ '%.6f' % base_point_geom.x }})</p>
        <p><strong>Validated Point Location</strong>
           <span id='validated_point_geom'>
           LatLng({{ '%.6f' % validated_point_geom.y }} {{ '%.6f' % validated_point_geom.x }})</span>
        </p>
        <input class="ui-button ui-widget ui-corner-all" type="submit" value="Next Point In Database">
        <input class="ui-button ui-widget ui-corner-all" type="submit" value="Next Unvalidated Point">
    </div>
    <div id="mapid"></div>
</table>

<script type="text/javascript">
    var map = L.map('mapid').setView(
        [{{ base_point_geom.y if not validated_point_geom else validated_point_geom.y }},
         {{ base_point_geom.x if not validated_point_geom else validated_point_geom.x }}],
         13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 25,
            id: 'mapbox.satellite',
            accessToken: 'pk.eyJ1IjoicmljaHBzaGFycCIsImEiOiJjanJzdHlib2oyZWRsNDNuM3Rndmh4YnRyIn0.Rs9F-GWbQzllbJAYSJVY1g'
        }).addTo(map);
    var original_point = L.shapeMarker(
        [{{ base_point_geom.y }}, {{ base_point_geom.x }}], {
            fillColor: "#F00",
            color: "#D00",
            shape: "triangle",
            radius: 5,
            title: 'original dam location',
            alt: 'original dam location',
        }).addTo(map);

    var marker = L.marker(
        [{{ base_point_geom.y if not validated_point_geom else validated_point_geom.y }},
         {{ base_point_geom.x if not validated_point_geom else validated_point_geom.x }}],
        {
            title: 'modified dam location',
            alt: 'modified dam location',
            draggable: true,
            color: '#F00'
        }).addTo(map);

     marker.on('dragend', function(event){
        var marker = event.target;
        var position = marker.getLatLng();
        marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
        map.panTo(new L.LatLng(position.lat, position.lng));
        $.ajax({
            url: '/markermove',
            type: 'POST',
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            data: JSON.stringify({
                'lat': position.lat,
                'lng': position.lng,
                'point_id': {{ point_id }},
            })
        });
        $('span#validated_point_geom').text(position);
      });

</script>

</body>
</html>