<!doctype html>
<html>
<head>
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<script src="js/leaflet-svg-shape-markers.min.js"></script>
<script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
    integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
    crossorigin=""></script>
<script>
    $( function() {
        $( "input" ).checkboxradio();
  } );
</script>
<style type="text/css">
    #infoBox {
        margin: auto;
        margin-bottom: 10px;
        width: 500px;
        font-size: small;
    }
    #mapid {
        margin: auto;
        width: 500px;
        height: 500px; }
</style>

<title>NatGeo Dam Validator</title>
</head>
<body>
<center></center>
<h1><img src="images/natcap.png"/> & NatGeo Dam Location Validation</h1>
<hr>
<table class='grid-table'>
    <tr>
    <td>
    <div id="mapid" class="column"></div>
    </td>
    <td>
    <div id="infoBox">
        <h2>Point ID: {{ base_point_id }}</h2>
        <p><strong>Original Point Location</strong>
            LatLng({{ '%.6f' % base_point_geom.y }} {{ '%.6f' % base_point_geom.x }})</p>
        <a class="ui-button ui-widget ui-corner-all" href="/unvalidated">Next Unvalidated Point</a>
        <a class="ui-button ui-widget ui-corner-all" href="/{{ point_id|int + 1}}">Next Point</a>
        {% if point_id|int > 0 %}
        <a class="ui-button ui-widget ui-corner-all" href="/{{ point_id|int - 1}}">Prev Point</a>
        {% endif %}
        <fieldset>
            <legend>What do you see?</legend>
            <label for="checkbox-underground">Underground Outlet</label>
            <input type="checkbox" name="checkbox-underground" id="checkbox-underground"><br/>
            <label for="checkbox-openair">Open Air Outlet</label>
            <input type="checkbox" name="checkbox-openair" id="checkbox-openair"><br/>
            <label for="checkbox-no-dam-visible">Water, but no dam visible</label>
            <input type="checkbox" name="checkbox-no-dam-visible" id="checkbox-no-dam-visible"><br/>
            <label for="checkbox-unsure-i-want-a-second-opinion">Unsure -- I want a second opinion</label>
            <input type="checkbox" name="checkbox-unsure-i-want-a-second-opinion" id="checkbox-unsure-i-want-a-second-opinion"><br/>
            <label for="checkbox-dam-visible-but-no-water">Dam visible, but no water</label>
            <input type="checkbox" name="checkbox-dam-visible-but-no-water" id="checkbox-dam-visible-but-no-water"><br/>
            <label for="checkbox-no-water-no-dam-visible">No water, no dam visible (e.g., obscured by trees)</label>
            <input type="checkbox" name="checkbox-no-water-no-dam-visible" id="checkbox-no-water-no-dam-visible"><br/>
            <label for="checkbox-bad-imagery">Bad imagery/obscured by cloud</label>
            <input type="checkbox" name="checkbox-bad-imagery" id="checkbox-bad-imagery"><br/>
            <textarea
                id="comments"
                rows="4", cols="58",
                onfocus="if(this.value=='{{ default_comments_text }}')this.value='';"
                onblur="if(this.value=='')this.value='{{ default_comments_text }}';">{{ stored_comments_text }}</textarea>
        </fieldset>
    </div>
    </td>
</tr>
</table>
<div id="mouse_tip" style="display: none;">
    click once to start a bounding box
</div>
<script type="text/javascript">
    var position = {
        'lat': {{ base_point_geom.y }},
        'lng': {{ base_point_geom.x }},
    };
    var map = L.map('mapid').setView(
        [{{ base_point_geom.y }}, {{ base_point_geom.x }}], 13);
    $('.leaflet-container').css('cursor','crosshair');
    L.esri.basemapLayer('Imagery').addTo(map);
    var original_point = L.shapeMarker(
        [{{ base_point_geom.y }}, {{ base_point_geom.x }}], {
            fillColor: "#F00",
            color: "#D00",
            shape: "triangle",
            radius: 5,
            title: 'original dam location',
            alt: 'original dam location',
        }).addTo(map);

    var clicked = false;
    var bounding_box = false;
    var first_click_lat_lng = false;
    var movedlatlng = false;

    function bounding_box_move(ev) {
        movedlatlng = map.mouseEventToLatLng(ev.originalEvent);
        bounding_box.setBounds([first_click_lat_lng, movedlatlng]);
    };

    map.on('click', function(ev){
        clicked = !clicked;
        first_click_lat_lng = map.mouseEventToLatLng(ev.originalEvent);
        var bounds = [first_click_lat_lng, first_click_lat_lng];
        // create an orange rectangle
        if (clicked) {
            if (bounding_box) {
                map.removeLayer(bounding_box);
            }
            bounding_box = L.rectangle(bounds, {color: "#CCAAAA", weight: 1});
            map.on('mousemove', bounding_box_move);
            bounding_box.addTo(map);
            $('#mouse_tip').hide();
        } else {
            map.off('mousemove', bounding_box_move);
            bounding_box.setStyle({color: "#22ff22", weight: 3});
            post_to_server();
            map.panTo(bounding_box.getCenter());
            map.fitBounds(bounding_box.getBounds());
        }
    });

    function post_to_server(e){
        var payload = {
            'lat': position.lat,
            'lng': position.lng,
            'point_id': {{ point_id }},
            'metadata': {
                'checkbox_values': {}
            }
        };
        if ($('textarea#comments').val() != '{{ default_comments_text }}') {
            payload['metadata']['comments'] = $('textarea#comments').val()
        }
        if (bounding_box) {
            payload['bounding_box_bounds'] = bounding_box.getBounds()
        };
        $('input[type=checkbox]').each(function () {
            payload['metadata']['checkbox_values'][$(this).attr('name')] = (
                $(this).is(':checked'));
        });

        $.ajax({
            url: '/update_dam_data',
            type: 'POST',
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            data: JSON.stringify(payload)
        });
    };

    $('textarea#comments').bind('input propertychange', post_to_server);
    $('input[type=checkbox]').change(post_to_server);
    {% for checkbox_id, checked in checkbox_values.items() %}
        $('input#{{ checkbox_id }} ').prop('checked', '{{ checked }}' == 'True');
    {% endfor %}

    {% if bounding_box_bounds != None %}
    bounding_box = L.rectangle(
        {{ bounding_box_bounds|safe }}, {color: "#22ff22", weight: 1});
    bounding_box.addTo(map);
    map.panTo(bounding_box.getCenter());
    map.fitBounds(bounding_box.getBounds());
    {% endif %}

    $(document).bind('mousemove', function(e){
        if (!clicked && !bounding_box) {
            $('#mouse_tip').css({
                'position': "absolute",
                'float': "left",
                'left':  e.pageX + 5,
                'top':   e.pageY - 55,
                'z-index': 1000,
                'width': '100px',
                'font-size': 'small',
                'background-color': 'rgba(200, 50, 50, 0.6)',
                'color': 'rgb(255, 255, 255)',
                'font-weight': 'bold',
                'text-align': 'center',
                'border': '1px solid black'
            }).fadeIn(100);
        };
});
</script>
</body>
</html>